.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
}

.App-header {
  text-align: center;
}

.quote-container {
  max-width: 80%;
  margin: 0 auto; /* Centra el contenedor de la cita */
  padding: 20px; /* Añade un poco de espacio alrededor del contenedor */
}

.quote {
  font-family: 'Courier New', Courier, monospace; /* Cambia la fuente a Courier New */
  font-size: 24px;
  margin-bottom: 10px; /* Añade espacio entre la cita y el autor */
}

.author {
  font-size: 20px;
  font-weight: bold; /* Hace que el autor se destaque más */
}

.btn {
  width: 150px; /* Reduce un poco el ancho del botón */
  margin-top: 20px; /* Añade espacio entre la cita y el botón */
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #61dafb;
  border: none;
  border-radius: 4px;
  color: white;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #4fbff8; /* Cambia el color del botón al pasar el ratón */
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Alinea los elementos en la parte inferior del contenedor */
}

.buttons .btn {
  margin-right: 10px;
}

.tweet-btn {
  width: 40px;
  height: 40px;
  padding: 1px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: white;
  transition: background-color 0.3s ease;
}

.tweet-btn:hover {
  background-color: #4fbff8;
}

#quote-box {
  margin: 0 auto;
  width: 80%; /* Ajusta el ancho según sea necesario */
}



